.filter-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.filter-container {
    border-bottom: 1px solid #BDBDBD;
}

@media (max-width: 575.98px) { 
    .filter-container {
        border: none;
        margin-left: -1em;
    }
 }